.headerContainer{
  border-bottom: 1px solid #c4ccc4;
  display: flex;
  box-shadow: 0px 2px 0px 0 rgba(0,0,0,0.05);
  padding: 8px 0;
  margin-bottom: 70px;

  .left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    div{
      margin-right: 8px;
      font-size: 20px;
      color:#666;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .myLogo{
      width: 40px;
      height: 40px;
      border-radius: 25px;
      margin:0;
      margin-right:10px;
      cursor: pointer;
    }
  }

  .right{
    flex: 1;
    display: flex;
    justify-content: flex-end;

    img {
      filter:grayscale(100%);
      width: 28px;
      height: 28px;
      margin: 8px 4px;
      border-radius: 5px;
      &:hover{
        filter:none;
        cursor: pointer;
      }
    }
  }
}