body {
  background-color: #e8f1d8;
}


h1, h2,h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 22px;
  color: #2d2727;
  margin: 0;
  margin: 40px 0 15px;
  color: black;
  letter-spacing: 0.6px;
}

h1{
  font-size: 30px;
}

h3{
  font-size: 26px;
  border-bottom: 1px solid #aaa ;
  padding-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 1.8em;
  color: #2d2727;
  margin-bottom: 26px;
  letter-spacing: 0.6px;
}

ol,ul {
  list-style-position: inside;
}

deckgo-highlight-code {
  margin-bottom: 30px;
}

.footer{
  margin-top: 80px;
}

a{
  color:#17632b;
  &:hover{
    opacity: 0.8;
  }
}